#flights-wrapper {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
 
#flights-wrapper .flight {
    border: 1px solid #000;
    height: 70px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px 20px;
}

#flights-wrapper .flight .col {
    float: left;
    width: 50%;
}

#flights-wrapper .flight .col .ident {
    font-size: 20px;
}

#flights-wrapper .flight .col .col {
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    width: 33.3%;
}

#flights-wrapper .flight .col .col.arrow {
    padding: 5px 0;
}

#flights-wrapper .flight .col .col span {
    display: block;
}

#flights-wrapper .flight .clear {
    clear: both;
    margin-bottom: 10px;
}

#flights-wrapper .flight .actions {
    display: block;
    text-align: left;
}

#flights-wrapper .flight .actions button {
    background: none;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
}

#flights-wrapper .flight .actions button:hover {
    border: 1px solid #000;
}

#flights-wrapper .info-message {
    color: #a0a0a0;
    padding: 25px 0;
    text-align: center;
}