#aircrafts-wrapper {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

#aircrafts-wrapper .aircraft {
    background: #eee;
    border: 1px solid #ccc;
    height: 80px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px 20px;
}

#aircrafts-wrapper .aircraft .col {
    float: left;
    font-weight: 700;
    padding: 15px 0;
    width: 45px;
}

#aircrafts-wrapper .aircraft .col .ident {
    font-size: 20px;
    margin-bottom: 5px;
}

#aircrafts-wrapper .aircraft.selected .col .ident {
    font-weight: 700;
}

#aircrafts-wrapper .aircraft .col .spec {
    font-size: 12px;
    height: 15px;
    overflow: hidden;
}

#aircrafts-wrapper .aircraft.selected {
    height: 45px;
}

#aircrafts-wrapper .aircraft.selected .col .utilisation {
    animation: blinker 5s linear infinite;
}

#aircrafts-wrapper .aircraft.selected .actions {
    display: none;
}

#aircrafts-wrapper .aircraft .actions {
    text-align: right;
}

#aircrafts-wrapper .aircraft .actions button {
    background: none;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
}

#aircrafts-wrapper .aircraft .actions button:disabled {
    background: #fff;
    border: 2px solid rgba(16, 16, 16, 0.3);
    cursor: default;
}

#aircrafts-wrapper .aircraft .actions button:hover {
    border: 1px solid #000;
}

#aircrafts-wrapper .aircraft .actions button:disabled:hover {
    border: 2px solid rgba(16, 16, 16, 0.3);
}

#aircrafts-wrapper .aircraft .col .spec span {
    display: inline-block;
    margin-right: 10px;
}

#aircrafts-wrapper .aircraft .col:first-child {
    font-weight: 400;
    padding: 0;
    width: calc(100% - 45px);
}

#aircrafts-wrapper .aircraft.selected {
    background: none;
    border: 1px solid #000;
}

  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}