.content-wrapper {
    box-sizing: border-box;
    display: block;
    height: calc(100% - 60px);
    position: relative;
    width: calc(100% - 40px);
}


.content-wrapper section {
    height: 100%;
    float: left;
}

.content-wrapper section.aircrafts-tile {
    margin-right: 20px;
    width: calc(25% - 20px);
}

.content-wrapper section.content-tile {
    margin: 0 20px;
    width: calc(50% - 40px);
}

.content-wrapper section.content-tile .rotation-tile {
    height: calc(100% - 60px);
    margin-bottom: 10px;
}

.content-wrapper section.content-tile .rotation-tile:last-child {
    margin-bottom: 0;
}

.content-wrapper section.content-tile .rotation-tile .title span {
    font-weight: 700;
}

.content-wrapper section.flights-tile {
    margin-left: 20px;
    width: calc(25% - 20px);
}


.content-wrapper section.aircrafts-tile .title,
.content-wrapper section.content-tile .title,
.content-wrapper section.flights-tile .title {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.content-wrapper section.aircrafts-tile .list,
.content-wrapper section.flights-tile .list {
    height: calc(100% - 40px);
}

.content-wrapper section.content-tile .rotation-tile .list {
    height: calc(100% - 40px);
}