.header-wrapper {
    box-sizing: border-box;
    position: relative;
    height: 20px;
    margin-bottom: 40px;
    width: 100%;
}

.header-wrapper .date-selector {
    position: absolute;
    left: 50%;
    margin-left: -85px;
    width: 170px;
}

.header-wrapper .date-selector button:disabled {
    background: none;
}

.header-wrapper .date-selector span {
    font-weight: 700;
    margin: 0 20px;
}