#rotation-wrapper {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}
 
#rotation-wrapper .rotation {
    border: 1px solid #000;
    height: 70px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 10px 20px;
}

#rotation-wrapper .rotation > .col {
    float: left;
    width: 50%;
}

#rotation-wrapper .rotation > .col.ident {
    font-size: 20px;
    padding: 3px 0;
}

#rotation-wrapper .rotation > .col.ident span {
    font-weight: 700;
}

#rotation-wrapper .rotation > .col.actions {
    text-align: right;
}

#rotation-wrapper .rotation > .col.actions button {
    background: none;
    padding: 5px 10px;
    background: none;
    cursor: pointer;
}

#rotation-wrapper .rotation > .col.actions button:hover {
    border: 1px solid #000;
}

#rotation-wrapper .rotation .clear {
    clear: both;
    height: 10px;
}

#rotation-wrapper .rotation .route .col {
    float: left;
    font-size: 12px;
    overflow: hidden;
    text-align: center;
    width: 33.3%;
}

#rotation-wrapper .rotation .route .col.arrow {
    padding: 5px 0;
}

#rotation-wrapper .rotation .route .col span {
    display: block;
}

#rotation-wrapper .info-message {
    color: #a0a0a0;
    padding: 25px 0;
    text-align: center;
}